@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @media (prefers-color-scheme: dark) {
    :root {
      --background: 0, 0, 0;
      --text-primary: 255, 255, 255, 1;
      --text-secondary: 179, 179, 179, 1;
    }
    body {
      @apply bg-[rgb(var(--background))] text-[rgb(var(--text-primary))];
    }
  }

  @media (prefers-color-scheme: light) {
    :root {
      --background: 245, 245, 245;
      --text-primary: 33, 33, 33, 1;
      --text-secondary: 97, 97, 97, 1;
    }
    body {
      @apply bg-[rgb(var(--background))] text-[rgb(var(--text-primary))];
    }
  }
}

@layer base {
  body {
    @apply flex justify-center w-full h-full bg-[rgb(var(--background))]
  }
  
  #app {
    @apply max-w-[768px] justify-center w-full
  }

  .dark {
    --background: 0, 0, 0;
    --border: 44, 44, 44, 1;
    --card: 30, 30, 30, 1;
    --text-primary: 255, 255, 255, 1;
    --text-secondary: 179, 179, 179, 1;

    @apply bg-[rgb(var(--background))] text-[rgb(var(--text-primary))];
  }

  .light {
    --background: 245, 245, 245;
    --border: 224, 224, 224, 1;
    --card: 255, 255, 255, 1;
    --text-primary: 33, 33, 33, 1;
    --text-secondary: 97, 97, 97, 1;

    @apply bg-[rgb(var(--background))] text-[rgb(var(--text-primary))];
  }
}

@layer utilities {
  /* Colors for light mode */
  .light .bg-body {
    background-color: rgb(var(--background));
  }  
  .light .bg-card {
    background-color: rgb(var(--card));
  }
  .light .bg-secondary {
    background-color: #F2F2F2;
  }
  .light .bg-active {
    background-color: rgb(var(--card));
  }
  .light .border-card {
    border-color: rgb(var(--border));
  }
  .light .shadow-card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
  }
  .light .text-primary {
    color: rgb(var(--text-primary));
  }
  .light .text-secondary {
    color: rgb(var(--text-secondary));
  }

  /* Colors for dark mode */
  .dark .bg-body {
    background-color: rgb(var(--background));
  }
  .dark .bg-card {
    background-color: rgb(var(--card));
  }
  .dark .bg-secondary {
    background-color: #2C2C2C;
  }
  .dark .bg-active {
    background-color: #404040;
  }
  .dark .border-card {
    border-color: rgb(var(--border));
  }
  .dark .shadow-card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9), 0 1px 2px rgba(0, 0, 0, 0.7);
  }
  .dark .text-primary {
    color: rgb(var(--text-primary));
  }
  .dark .text-secondary {
    color: rgb(var(--text-secondary));
  }
}
